<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Edit Task
        </h1>

        <input #InputTaskName class="input has-background-light is-medium" type="text" placeholder="Enter Task">

        <div class="buttons is-right">
            <button class="button is-primary has-text-white is-medium" (keydown.enter)="updateTask(InputTaskName.value)" (click)="updateTask(InputTaskName.value)">Save</button>
            <button class="button is-danger has-text-white is-medium" [routerLink]="['/lists',listId]">Cancel</button>
        </div>

    </div>
</div>
