<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create a new task
        </h1>

        <input #InputTaskName class="input has-background-light is-medium" type="text" placeholder="Enter task">

        <div class="buttons is-right">
            <button class="button is-primary has-text-white is-medium" (keyup.enter)="createNewTask(InputTaskName.value)" (click)="createNewTask(InputTaskName.value)">Create</button>
            <button class="button is-danger has-text-white is-medium" [routerLink]="['/lists',listId]">Cancel</button>
        </div>

    </div>
</div>
